.quizPageContainer {
	position: fixed;
	left: 15%;
	width: 80%;
	height: 70vh;
	display: grid;
	padding-top: 2rem;
}

.mainLy {
	width: 100%;
	display: grid;
	padding-left: 0.6rem;
	align-items: center;
}

.row {
	width: 45%;
	height: 45%;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	padding-left: 2rem;
	border-radius: 1em;
    box-shadow: rgba(100, 100, 100, 0.3) 0px 2px 5px 0px;
}

.lessonRow {
	width: 85%;
	display: grid;
	justify-self: center;
	grid-template-columns: 64% 34%;
	border-radius: .5em;
    box-shadow: rgba(100, 100, 100, 0.3) 0px 1px 3px 0px;
}

.link {
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
}

.label {
	display: block;
}

.input {
	display: inline;
	margin: 6px 0;
	padding: 9px 30px 9px 14px;
	border: 2px solid #eee;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 3px 0px;
	font-size: 16px;
}

.smBtn {
	width: 80px;
	padding: 10px 0;
	margin: 8px 11px 0px;
	border-style: none;
	border-radius: 5px;
	color: #fefefe;
	background-color: #444444;
	font-size: 14px;
}

.center {
	display: grid;
	place-items: center;
}

.payMsg {
	display: block;
    font-size: 12px;
    margin: 3px 0 3px 9px;
}

.fileLabel {
	display: grid;
	place-items: center;
	text-align: center;
	background-color: #ccc;
	padding: 7em 10em;
	margin: 1em;
	border-radius: 1em;
	box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),0 1px 8px 0 rgb(39 44 51/2%);
}

.fileLabel ion-icon {
	font-size: 3em;
}

.quizEditTitle {
	font-size: 1.5em;
}

