.gCtn {
	width: 100%;
	display: grid;
}

.courseLy {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-items: center;
}

.courseLyItem {
	width: 88%;
	justify-self: center;
}

/*  Media Queries to get a responsive layout */

@media(max-width: 828px) {
	.courseLy {
		grid-template-columns: 50% 50%;
	}
}

@media(max-width: 568px) {
	.courseLy {
		grid-template-columns: 90%;
	}
}

@media(max-width: 358px) {
	.courseLy {
		grid-template-columns: 97%;
	}
}
